@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");

*::selection {
    background: #548267;
    color: #ffffff;
}

.bg-looper-pattern {
    background-image: url("../images/looper-pattern.svg");
}
